:root {
  --color-fondo: #0f0f0f;
  --color-texto: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.cuadricula{
  display: grid;
}

.tres-columnas {
  grid-template-columns: repeat(2, 1fr);
}

.fila {
  display: flex;
}

.centrar-contenido {
  justify-content: center;
  align-items: center;
}

.contenido-derecha {
  justify-content: flex-end;
  align-items: center;
}

.contenido-izquierda {
  justify-content: flex-start;
  align-items: center;
}

.separacion {
  gap: 15px;
}

.padding-general {
  padding: 10px 20px;
}

/* Estilos personalizados */

#buscador {
  width: 100%;
}

#buscador > input {
  background-color: transparent;
  border: 1px solid #313131;
  border-radius: 20px 0 0 20px;
  color: var(--color-texto);
  padding: 8px 10px;
  width: 500px;
}

#buscador > button {
  background-color: #313131;
  border: 2px solid #313131;
  border-radius: 0 20px 20px 0;
  color: var(--color-texto);
  padding: 8px 10px;
  
}

.topicos{
  margin: 2px;
  display: flex;
  gap: 20px;
  padding: 5px 10px;
  color: var(--color-texto);
}

.boton {
  background-color: #313131;
  color: var(--color-texto);
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 2px 2px;
}

.sidebar > aside{
  padding: 10px;
  
}

.icono {
  background-color: transparent;
  color: white;
  border: none;
}

.mobile{
  display: flex;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile{
    display: none;
  }
  .desktop {
    display: flex;
  }
  .tres-columnas {
    grid-template-columns: repeat(3, 1fr);
  }
}